body {
    font-family: 'Arial', sans-serif;
}
header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card img {
    height: 200px;
    object-fit: cover;
}
footer {
    background-color: #4e2e1f;
}
.bg-brown {
    background-color: #4e2e1f; 
}
.hero h1 {
    font-size: 2rem;
    font-weight: 700; 
}
.hero p.lead { 
    font-size: 1.25rem;
}
.accordion-button {
    font-weight: 500; 
}
.testimonials img {
    width: 80px; height: 80px; object-fit: cover;
    }
.btn-danger{
    background-color: #E15D59;
}
.h1{
    color: #CFA731;
}